<div class="block p-6 rounded-lg shadow-lg bg-white max-w-sm">
  <!-- <form [formGroup]="'form"> -->
  <form action="" [formGroup]="formLogin" (submit)="send()">
    <div>
      <label for="email">Email</label>
      <input type="text" name="" id="email" formControlName="email" />
    </div>

    <div>
      <label for="password">Password</label>
      <input type="password" name="" id="password" formControlName="password" />
    </div>

    <div>
      <button [disabled]="formLogin.invalid">Enviar</button>
    </div>
  </form>
</div>

<div>
  Valido:

  {{ formLogin.valid | json }}
</div>
